<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TC_001" configfailurepolicy="continue" verbose="10" parallel="tests" thread-count="5">

    <listeners>
        <listener class-name="com.demo.config.TestNGListener"/>
    </listeners>

    <parameter name="browser"     value="chrome"/>
    <parameter name="environment" value="uat"/>

    <test name="TC_01_Example" group-by-instances="true">

    <classes>
        <class name="com.demo.test_suites.backend.TS_01_Login">
            <methods>
                <include name="sessionID"/>
                <include name="ramLogin"/>
                <include name="externalLogin"/>
                <include name="cmsLogin"/>
                <include name="addBonusCampaign"/>
                <include name="uploadFile"/>
                <include name="userBonusEntitlements"/>
                <include name="checkUI"/>
                <include name="getSportsbookEvent"/>
            </methods>
        </class>
    </classes>
</test>
</suite>




